<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="true" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee          http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>WebNookBook</display-name>
    <!-- Welcome Page -->
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <!-- User Authentication -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.jaro.webnookbook.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NewUserServlet</servlet-name>
        <servlet-class>com.jaro.webnookbook.servlets.NewUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewUserServlet</servlet-name>
        <url-pattern>/NewUserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.jaro.webnookbook.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <!-- User Management -->
    <servlet>
        <servlet-name>ManageUsersServlet</servlet-name>
        <servlet-class>com.jaro.webnookbook.ManageUsersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageUsersServlet</servlet-name>
        <url-pattern>/ManageUsersServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditAccountServlet</servlet-name>
        <servlet-class>com.jaro.webnookbook.servlets.EditAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditAccountServlet</servlet-name>
        <url-pattern>/EditAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>com.jaro.webnookbook.servlets.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/DeleteUserServlet</url-pattern>
    </servlet-mapping>
    <!-- Book Management -->
    <servlet>
        <servlet-name>ManageBooksServlet</servlet-name>
        <servlet-class>com.jaro.webnookbook.ManageBooksServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageBooksServlet</servlet-name>
        <url-pattern>/ManageBooksServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddBookServlet</servlet-name>
        <servlet-class>com.jaro.webnookbook.servlets.AddBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddBookServlet</servlet-name>
        <url-pattern>/AddBookServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditBookServlet</servlet-name>
        <servlet-class>com.jaro.webnookbook.servlets.EditBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditBookServlet</servlet-name>
        <url-pattern>/EditBookServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteBookServlet</servlet-name>
        <servlet-class>com.jaro.webnookbook.servlets.DeleteBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteBookServlet</servlet-name>
        <url-pattern>/DeleteBookServlet</url-pattern>
    </servlet-mapping>
    <!-- Accessory Management -->
    <servlet>
        <servlet-name>ManageAccessoriesServlet</servlet-name>
        <servlet-class>com.jaro.webnookbook.ManageAccessoriesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageAccessoriesServlet</servlet-name>
        <url-pattern>/ManageAccessoriesServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddAccessoryServlet</servlet-name>
        <servlet-class>com.jaro.webnookbook.servlets.AddAccessoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddAccessoryServlet</servlet-name>
        <url-pattern>/AddAccessoryServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditAccessoryServlet</servlet-name>
        <servlet-class>com.jaro.webnookbook.servlets.EditAccessoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditAccessoryServlet</servlet-name>
        <url-pattern>/EditAccessoryServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteAccessoryServlet</servlet-name>
        <servlet-class>com.jaro.webnookbook.servlets.DeleteAccessoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteAccessoryServlet</servlet-name>
        <url-pattern>/DeleteAccessoryServlet</url-pattern>
    </servlet-mapping>
    <!-- Category Management -->
    <servlet>
        <servlet-name>ManageCategoriesServlet</servlet-name>
        <servlet-class>com.jaro.webnookbook.ManageCategoriesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageCategoriesServlet</servlet-name>
        <url-pattern>/ManageCategoriesServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddCategoryServlet</servlet-name>
        <servlet-class>com.jaro.webnookbook.servlets.AddCategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCategoryServlet</servlet-name>
        <url-pattern>/AddCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditCategoryServlet</servlet-name>
        <servlet-class>com.jaro.webnookbook.servlets.EditCategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditCategoryServlet</servlet-name>
        <url-pattern>/EditCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteCategoryServlet</servlet-name>
        <servlet-class>com.jaro.webnookbook.servlets.DeleteCategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteCategoryServlet</servlet-name>
        <url-pattern>/DeleteCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>com.jaro.webnookbook.servlets.AddToCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>com.jaro.webnookbook.servlets.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/UpdateCartServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <servlet-class>com.jaro.webnookbook.servlets.RemoveFromCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <url-pattern>/RemoveFromCartServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>com.jaro.webnookbook.servlets.CheckoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateOrderServlet</servlet-name>
        <servlet-class>com.jaro.webnookbook.servlets.UpdateOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateOrderServlet</servlet-name>
        <url-pattern>/UpdateOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchBookServlet</servlet-name>
        <servlet-class>com.jaro.webnookbook.servlets.SearchBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchBookServlet</servlet-name>
        <url-pattern>/SearchBookServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OrderHistoryServlet</servlet-name>
        <servlet-class>com.jaro.webnookbook.servlets.OrderHistoryServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>OrderHistoryServlet</servlet-name>
        <url-pattern>/OrderHistoryServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>OrderDetailsServlet</servlet-name>
        <servlet-class>com.jaro.webnookbook.servlets.OrderDetailsServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>OrderDetailsServlet</servlet-name>
        <url-pattern>/OrderDetailsServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AddFundsServlet</servlet-name>
        <servlet-class>com.jaro.webnookbook.servlets.AddFundsServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>AddFundsServlet</servlet-name>
        <url-pattern>/AddFundsServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>com.jaro.webnookbook.servlets.EditUserServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>/EditUserServlet</url-pattern>
    </servlet-mapping>
    
</web-app>
